/// Font family property declaration
///
/// @access public
///
/// @author Radmir Nabiullin
///
/// @type List
$font-family--scheherazade: ("Scheherazade", serif);
$font-family--neuton: ("Neuton", serif);
$font-family--lato: ("Lato", sans-serif);
$font-family--pt-sans: ("PT Sans", sans-serif);
$font-family--poppins: ("Poppins", sans-serif);
$font-family--roboto: ("Roboto", sans-serif);
